@page
@model Lab2RazorPage.Pages.UploadFileModel

@{
    <form method="post" enctype="multipart/form-data">
        <label asp-for="@Model.FileUploads"></label>
        <input asp-for="@Model.FileUploads"/>
        <span asp-validation-for="@Model.FileUploads"></span>
        <button class="btn btn-primary" asp-page="UploadMulti">Upload</button>
    </form>
}

